*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    text-decoration: none; 

}

.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
/*navbar styling*/  
.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 15px 0;
    font-family:  'times', Arial, sans-serif;
    /*background: #000000*/;
    transition: all 0.3s ease;
}
.navbar.sticky {
    padding: 10px 0;
    background:#BF360C ;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a {
    color: #ffffff;
    font-size: 35px;
    font-weight: 600;
}
.navbar .logo a span {
    color: #BF360C;
}
.navbar.sticky .logo a span{
    color: #fff;
    transition: all 0.3s ease;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    display: block;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;

}
.navbar .menu li a:hover{
    color: #BF360C;
}
.navbar.sticky .menu li a:hover{ 
    color: #fff;

}
/*Menu byn stylling*/
.menu-btn{
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

.scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 42px;
    background: #BF360C;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.scroll-up-btn.show{
    opacity: 1;
    pointer-events: auto;
    bottom: 30px;
}

/*home section styling*/
.home{
    display: flex;
    background: url("imagenes/aguavital2013.jpg") no-repeat center;
    background-color: rgb(80,100,100);
    background-blend-mode: soft-light;
    background-size:cover;
    height: 100vh;
    color: #ffffff;
    min-height: 500px;
    font-family: sans-serif, 
}

.home .max-width{
    margin: auto 0 auto 40px;
}
.home .home-content .text-1{
    font-size: 27px;

}
.home .home-content .text-2{
    font-size: 40px;
    font-weight: 600;
    margin-left: -3px;

}
.home .home-content .text-3{
    font-size: 65px;
    margin: 5px 0;

}
.home .home-content .text-3 span {
    color: #BF360C ;
    font-weight: 700;
}



/*contenido trabajo*/
section{
    padding: 100px 0;
}

.quienesSomos{
    font-family: 'Times New Roman', Times, serif;
}
.quienesSomos .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom:20px ;
    font-family: 'Times New Roman', Times, serif;
}


.quienesSomos .quienesSomos-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.quienesSomos .quienesSomos-content .left{
    width: 45%;
}

.quienesSomos .quienesSomos-content .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
    size: cover;
}
.quienesSomos .quienesSomos-content .rigth{
    width: 55%;
} 
.quienesSomos .quienesSomos-content .rigth .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
.quienesSomos .quienesSomos-content .rigth .text span{
    color: #BF360C;
}
.quienesSomos .quienesSomos-content .rigth p{
    text-align: justify;
}




/*footer section stylling*/
footer{
    background: #fff;
    padding: 20px 23px;
    font-family: 'Times New Roman', Times, serif;
    color: #111;
    margin-right: auto;
    text-align: center;
}
footer span a{
    color: #BF360C;
    text-decoration: none;

}
footer span a:hover{
    text-decoration: underline;
}



/*responsive media query start */
@media (max-width:1300px) {
    .home .max-width {
        margin-left: 0px;
    }

}
@media (max-width:1104px) {
    .quienesSomos .quienesSomos-content .left img{
        height: 350px;
        width: 350px;
    }

}

@media (max-width:991px) {
    .max-width{
        padding: 0 50px;
    }

}
@media (max-width:947px){
    .max-width { 
        padding: 0 50px;
    }
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .menu-btn i.active:before {
        content: "\f00d";
    }
    .navbar .menu {
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111111;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;

    }

    .navbar .menu.active{
        left:0%;
    }
    .navbar .menu li{
        display:block;
    }
    .navbar .menu li a{
        display:inline-block;
        margin: 20px;
        font-size: 25px;
    }
    .home .home-content .text-2{
        font-size: 70px;
    }
    .home .home-content .text-3{
        font-size: 35px;
    }
    
    .max-width{
        max-width: 800px;

    }
    .quienesSomos .quienesSomos-content .column{
        width: 50%;
    }
    .quienesSomos .quienesSomos-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .quienesSomos .quienesSomos-content .rigth{
        flex: 100%;
    }
    .proyectos .proyectos-content{
        width: 50%;
    }
    .contacto .contacto-content .column{
        width: 100%;
        margin-bottom: 35px;
    }
    
}
@media (max-width:690px) {
    .max-width{
        padding: 0 23px;
    }
    .home .home-content .text-2{
        font-size: 60px;
    }
    .home .home-content .text-3{
        font-size: 32px;
    }

}
@media (max-width:500px) {
   
    .home .home-content .text-2{
        font-size: 50px;
    }
    .home .home-content .text-3{
        font-size: 27px;
    }

}